<h1>{{title}}</h1>
<!-- <p>{{message}}</p> -->

<ul>
  <li>
    <a href="/getCars" class="get-posts">get cars</a>
  </li>
  <li>
    <a href="/getOne/R58" class="get-one">get ine</a>
  </li>
</ul>
<button id="F55" class="delete">delete F55</button>
<button  id="F58" class="delete">delete F58</button>

<button id="F55" class="getButton">get XHR data</button>
<button id="F58" class="getButton">get XHR data</button>
<button id="F55" class="getButton">get XHR data</button>
