<h1>{{title}}</h1>
<!-- <p>{{message}}</p> -->

<ul>
  <li>
    <a href="/getCars" class="get-posts">get cars</a>
  </li>
  <li>
    <a href="/getOne/R58" class="get-one">get one</a>
  </li>
</ul>
<button id="F55" class="deleteButton">delete F55</button>

<button id="F55" class="postButton">post F55 </button>

<button id="F55" class="getButton">get F55 data</button>
<button id="F56" class="getButton">get F56 data</button>
<button id="R58" class="getButton">get R58 data</button>
